* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #333333;
  font-family: 'Open Sans', Arial, sans-serif;
  color: white;
}

.flex {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.radius {
  border-radius: 8px;
}

.fullWidth {
  width: 100%;
}

.center {
  align-items: center;
}

.mg1auto {
  margin: 1em auto;
}

.mg1 {
  margin: 1em;
}

.white {
  color: white;
}

.ctText {
  text-align: center;
}

.shadow {
  box-shadow: 3px 3px 6px rgb(168, 170, 174);
}

.container {
  min-height: 100vh;
  max-height: 100%;
}

.p10 {
  padding: 10px;
}

nav a,
.private span {
  /*
  display: block;
  margin: 0 auto;
  */
  padding: 13px;
}

.public,
.private {
  flex-direction: row;
  justify-content: space-evenly;
}

.private {
  flex-wrap: wrap;
}

.public {
  box-shadow: 0px -15px 30px -5px #c986d7;
  background: linear-gradient(90deg, rgba(70, 68, 68, 0) 0%, rgba(255, 255, 255, 0.048) 25%, rgba(255, 255, 255, 0.068) 75%, rgba(255, 255, 255, 0) 100%);
}

a {
  text-decoration: none;
}

.private a,
.private span {
  background: linear-gradient(330deg, #2fe03eb9 20%, #52e0e0ab 50%, #9952e09f 75%, #304d145d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.public a {
  font-weight: 600;
}

input,
textarea,
button {
  border: none;
}

.content {
  width: 80%;
}

.content .film,
.info-poster,
.list {
  background: radial-gradient(circle at top left, rgba(66, 65, 63, 0.833), rgba(26, 23, 20, 0.675));
}

.content .film {
  /*border: 2px inset; 
  border-image: linear-gradient(to bottom, #11926150, #21641b38, #772f993a);
  border-image-slice: 1;*/
  border: 2px inset whitesmoke;
  padding: 0.5em;
  width: 210px;
  height: 440px;
}

.film img {
  max-height: 200px;
  /*width: 100%;*/
  margin: 0.5 auto;
  max-width: 100%;
}

.search input[type="text"] {
  width: 200px;
  padding: 0.8em;
  font-size: 1.1em;
  background: lightgrey;
}

.search p,
.search input[type="text"],
aside div form input {
  margin-top: 0.5em;
}

.search p {
  color: gray;
}

.logged-in,
.logged-out .more-info,
.add-new,
.login,
.signup,
.film-id,
.list,
.alert {
  display: none;
}

.more-info,
.add-new,
.alert {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.more-info,
.add-new {
  background-color: #333333;
  min-width: 95vw;
  max-height: 100vh;
  overflow: auto;
}

.add-new,
.alert {
  flex-direction: column;
}

.more-info .film {
  min-width: 95vw;
  animation-name: modalopen;
  animation-duration: 1s;
}

.add-new form {
  padding: 1em;
  animation-name: fadein;
  animation-duration: 1s;
}

.darken {
  background: linear-gradient(rgba(17, 17, 17, 0.833), rgba(20, 19, 17, 0.863));
  filter: blur(4px);
}

i.fas,
i.far,
i.fa-edit {
  font-size: 30px;
  font-weight: bold;
  padding: 0.5em;
}

i.fa-save {
  color: yellowgreen;
}

i.fa-trash-alt {
  color: crimson;
  margin: 10px;
}

i.fa-window-close,
i.fa-bars {
  color: #f0e6e6;
  position: absolute;
  top: 5px;
  right: 5px;
}

.info-poster {
  width: 95%;
}

.content .film .data {
  justify-content: space-evenly;
  height: 50%;
}

button {
  margin: 30px auto 0 auto;
}

.data button {
  padding: 15px 40px;
  width: 160px;
  height: 25px;
}

aside {
  max-width: 90vw;
}

.login,
.signup,
.add-new {
  background: linear-gradient(to bottom, rgba(77, 71, 82, 1) 0%, rgba(201, 195, 219, 1) 99%, rgba(216, 208, 239, 1) 100%);
  box-shadow: 0 0 3px 2px rgba(189, 186, 186, 0.342);
  border-radius: 10px;
  z-index: 2;
}

.login,
.signup {
  max-width: 95vw;
  padding: 1.4em;
  animation-name: modalopen;
  animation-duration: 1s;
}

/*.container*/
aside,
aside div h2 {
  margin: 0 auto;
}

aside div form label {
  margin-top: 20px;
}

button,
input[type="reset"],
.film input,
.aBtn {
  padding: 10px 25px;
  font-size: 1.1em;
}

.data input[type="button"],
.data button,
.alertSuccess {
  background: linear-gradient(to bottom, rgb(43, 181, 142) 0%, rgb(7, 84, 57) 52%, rgb(8, 86, 86) 54%, rgb(13, 105, 66) 70%, rgb(43, 181, 132) 100%);
}

.alert button,
form button,
form input[type="reset"],
.buttons button,
.buttons a {
  background: linear-gradient(to bottom, rgb(120, 119, 128) 0%, rgb(59, 58, 68) 0%, rgb(130, 135, 161) 0%, rgb(65, 62, 66) 49%, rgb(62, 59, 63) 50%, rgb(140, 140, 156) 100%);
}

.buttons button, 
.buttons a {
  width: 155px;
}

.add-new form textarea,
.add-new form input[type="number"],
.signup form input,
.login form input {
  background-color: rgb(100, 94, 105);
  padding: 5px;
  font-size: 1.1em;
}

aside div form input {
  width: 180px;
  height: 22px;
  padding: 2px;
}

.add-new form p {
  font-size: 1.2em;
  font-weight: 900;
}

/*styling list*/
.list {
  width: 98vw;
}

ul {
  max-width: 500px;
  list-style-type: none;
}

.list h1 {
  font-family: "Metal Mania", Times, serif;
  letter-spacing: 0.2em;
  font-size: 2.3em;
  color: #333333;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18ff43, 0 0 30px #18FF74, 0 0 40px #18FF74, 0 0 55px #18FF7D, 0 0 75px #18ff74, 2px 2px 2px rgba(44, 206, 64, 0);
}


li {
  width: 90%;
  border: 1px solid white;
  border-radius: 10px 40px 10px 40px;
  margin: 0.5rem;
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(89, 89, 89, 0.97) 12%, rgba(17, 17, 17, 0.86) 54%, rgba(43, 43, 43, 0.8) 76%, rgba(44, 44, 44, 0.79) 82%, rgba(28, 28, 28, 0.76) 91%, rgba(19, 19, 19, 0.74) 100%);
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(89, 89, 89, 0.97) 12%, rgba(17, 17, 17, 0.86) 54%, rgba(43, 43, 43, 0.8) 76%, rgba(44, 44, 44, 0.79) 82%, rgba(28, 28, 28, 0.76) 91%, rgba(19, 19, 19, 0.74) 100%);
}

li div {
  padding: 12px;
  align-items: center;
}

li div a {
  color: rgb(240, 240, 9);
}

li div textarea,
li div input {
  border: 1px solid rgba(109, 107, 107, 0.719);
  background: rgb(49, 49, 49);
  outline: yellowgreen;
}

li div textarea,
.add-new form textarea {
  resize: none;
  width: 190px;
  height: 125px;
}

#ratingLi {
  width: 50px;
  height: 18px;
  margin: 0.5em;
}

/* loader */
#loader {
  display: none;
  width: 80px;
  height: 80px;
  margin: 3em 0;
  border: 2px solid #41f24a;
  border-top: 2px ridge #1b4e1d;
  border-radius: 100%;
  animation: spin 1s infinite linear;
}

#loader.show {
  display: block;
}

.alert {
  border: 2px inset rgb(84, 91, 84);
  border-radius: 15px;
  z-index: 5;
  max-height: 300px;
  width: 200px;
  max-width: 300px;
}

.alertWarn {
  background: rgba(109, 0, 25, 1);
  background: linear-gradient(to bottom, rgba(109, 0, 25, 1) 0%, rgba(143, 2, 34, 1) 56%, rgba(38, 5, 5, 1) 100%);
}

.error {
  font-size: 0.9em;
  color: #960e0e;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {

  .info-poster,
  .buttons,
  .add-new form div,
  li,
  .content {
    flex-direction: row;
  }

  nav {
    height: 150px;
  }

  nav div {
    margin-top: 0;
  }

  nav a,
  .private span {
    padding: 1.2em;
    margin: 0;
  }

  .public {
    animation: shine 20s infinite;
  }

  .public a {
    width: 33.3%;
  }

  .private {
    justify-content: flex-end;
    width: 98%;
  }

  .main-container {
    height: 100%;
  }

  .search input[type=text] {
    transition: width 0.5s ease-in-out;
  }

  .search input[type=text]:focus {
    width: 400px;
  }

  .content {
    flex-wrap: wrap;
    /* max-width: 900px;*/
  }

  .content,
  .alert {
    justify-content: center;
  }

  .more-info,
  .add-new {
    min-width: 650px;
    max-width: 900px;
    max-height: 90vh;
    font-size: 1em;
  }

  .add-new form div {
    padding: 0;
  }

  .add-new p {
    margin: 0.6em;
  }

  .add-new span {
    margin: 1em;
  }

  .info-poster {
    justify-content: space-around;
    min-width: 550px;
    max-width: 80%;
    padding: 2em;
    font-size: 1.2em;
  }

  .info-poster img {
    max-height: 250px;
  }

  .buttons {
    justify-content: space-evenly;
  }

  ul {
    max-width: 90%;
    padding: 1em;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  li div {
    width: 25%;
  }

  .alert {
    height: 200px;
    width: 350px;
  }

  i:hover {
    opacity: 0.5;
  }

  .hoverTr:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
  }

  .public a:hover {
    background: linear-gradient(90deg, #ae96c74d 0%, #7bc7c366 25%, #80addc66 50%, #a37ec754 75%, #b277a566 100%);
    text-shadow: 2px 2px 4px #000000;
    mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  }

  .private a:hover {
    text-shadow: 2px 2px 4px #e2e0e0;
  }

  @keyframes shine {
    0% {
      box-shadow: 0px -15px 30px -5px #c986d7;
    }

    40% {
      box-shadow: 0px -5px 55px -1px #c986d7;
    }

    75% {
      box-shadow: 0px 5px 55px -1px #c986d7;
    }

    100% {
      box-shadow: 0px -15px 30px -5px #c986d7;
    }
  }
}

@media (min-width: 992px) {
  aside {
    order: 2;
    margin-right: 2em;
  }

  .login,
  .signup {
    width: 220px;
    min-height: 300px;
    padding: 20px;
  }

  aside div input {
    width: 220px;
    height: 22px;
    padding: 5px;
  }

  body,
  .container,
  .more-info,
  .add-new {
    background-color: #333333;
  }

  .main-container {
    flex-direction: row;
  }

  .content .film {
    width: 250px;
  }

  .more-info {
    max-width: 1000px;
  }

  .more-info .film {
    min-width: 800px;
    max-width: 1000px;
  }

  .info-poster {
    min-width: 700px;
  }

  .list {
    width: 80vw;
  }
}